---
title: html-base
---

<!doctype html>
<html class="no-js" lang="en">
  {% include "head.njk" %}

  <body>
    {% include "default-header.njk" %}

    {{ content | safe }}

    {% include "mailto.njk" %}

  </body>
</html>
