---
title: html-base
---

<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="{{ site.summary }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:site_name" content="{{ site.name }}">
    <meta property="og:title" content="{{ site.summary }}">
    <meta property="og:type" content="{{ site.type }}">
    <meta property="og:url" content="{{ site.url.home.link }}">
    <meta property="og:description" content="{{ site.summary }}">
    <meta property="og:image" content="{{ site.url.image }}">
    <meta property="og:image:alt" content="{{ site.url.image.description }}">

    <meta name="twitter:creator" content="{{ site.handle.twitter}}">
    <meta name="twitter:description" content="{{ site.summary }}">
    <meta name="twitter:image" content="{{ site.url.image }}">
    <meta name="twitter:image:alt" content="{{ site.url.image.description }}">
    <meta name="twitter:card" content="summary">

    <link rel="manifest" href="site.webmanifest">
    <!-- Place favicon.ico in the root directory -->

    <link rel="alternate" type="application/rss+xml" title="{{ site.url.feed.description }}" href="{{ site.url.feed.link }}">

    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/styles.css">

    <meta name="theme-color" content="#fafafa">
  </head>

  <body>
    <div class="wrapper">
      <div class="switcher">
        <div>
          <div class="header__logo-wrapper">
            <a class="header__logo-link" href="/">
              {{ '/src/svg/logo.svg' | svgContents | safe }}
              <h1 class="h__base header__title">
                <span class="header__title-line-1">Between</span>
                <span class="header__title-line-2">Two Parens</span>
              </h1>
            </a>
          </div>
        </div>
      </div>
    </div>

    {{ content | safe }}

  </body>
</html>
