<script>
  // https://mailgo.dev/docs/configuration#mailgo-configuration-in-window
  window.mailgoConfig = {
    showFooter: false,
  };
</script>

<script src="https://unpkg.com/mailgo@0.12.1/dist/mailgo.min.js"></script>
