---
title: posts-base
---

<!doctype html>
<html class="no-js" lang="">
  {% include "head.njk" %}

  <body>
    {% include "blog-header.njk" %}

    {{ content | safe }}

    {% include "mailto.njk" %}

  </body>
</html>
