---
layout: post-base
title: post
---

<main class="app">
  <div class="blog-content__wrapper">
    <div class="blog-content__heading">
      <h2 class="blog-content__headline">{{ title }}</h2>
      <div class="blog-content__byline">
        <div class="blog-content__byline-time-wrapper">
          <p>
            posted on
            <time class="blog-content__byline-time">{{ createdDate | dateFilter }}</time>
            and last updated
            <time class="blog-content__byline-time">{{ page.date | dateFilter }}</time>
          </p>
        </div>

        <span class="blog-content__byline-divider"></span>
      </div>
    </div>

    <aside class="blog-content__toc-wrapper">
      <div class="blog-content__toc">
        {% if content | toc %}
          <p>This post covers the following topics: </p>

          <div>{{ content | toc | safe }}</div>
        {% endif %}
      </div>
    </aside>

    <div class="blog-content">
      <div>
        {{ content | safe }}
      </div>

      {% include "footer.njk" %}
    </div>
  </div>
</main>
