/* -----------------------------------------------------------------------------
 * Blog Post Syntax Highlight Theme
 *
 * borrowed from reactjs.org.  apply to prismjs.
 * ---------------------------------------------------------------------------*/

.gatsby-highlight {
  background-color: var(--dark-blue);
  color: var(--color-white);
  border-radius: 10px;
  overflow: auto;
  tab-size: 1.5em;
  margin-bottom: 25px;
}

.gatsby-highlight code[class*='gatsby-code-'],
.gatsby-highlight pre[class*='gatsby-code-'],
.gatsby-highlight pre.prism-code {
  height: auto !important;
  font-size: 13px;
  line-height: 20px;
  white-space: pre-wrap;
  word-break: break-word;
  /* remove all margin to resolve wonky indentation */
  margin-bottom: 0;
  padding-right: 0;
}

.blog-post__content .gatsby-highlight {
  grid-column-start: full-start;
  grid-column-end: main-end;
}

.gatsby-highlight + .gatsby-highlight {
  margin-top: 20px;
}

.gatsby-highlight-code-line {
  background-color: var(--lineHighlight);
  display: block;
  margin: -0.125rem 0 -0.125rem calc(-1rem - 15px);
  padding: 0.125rem 0 0.125rem calc(1rem + 15px);
}

.gatsby-code-text {
  background-color: var(--yellow-code-text);
}

.token.attr-name {
  color: var(--keyword);
}

/* comment highlighting */

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: var(--comment);
}

/* primitive highlighting */

.token.property,
.token.number,
.token.function-name,
.token.constant,
.token.symbol,
.token.deleted {
  color: var(--primitive);
}

/* boolean highlighting */

.token.boolean {
  color: var(--boolean);
}

/* tag highlighting - jsx */

.token.tag {
  color: var(--tag);
}

/* String Highlighting */

.token.string {
  color: var(--string);
}

/* punctuation highlighting */

.token.punctuation {
  color: var(--punctuation);
}

/*  */

.token.selector,
.token.char,
.token.builtin,
.token.inserted {
  color: var(--char);
}

/* function highlighting */

.token.function {
  color: var(--function);
}

/*  */

.token.operator,
.token.entity,
.token.url,
.token.variable {
  color: var(--variable);
}

/* */

.token.attr-value {
  color: var(--string);
}

/* */

.token.keyword {
  color: var(--keyword);
}

/* */

.token.atrule,
.token.class-name {
  color: var(--className);
}

/* */

.token.important {
  font-weight: 400;
}

/* */

.token.bold {
  font-weight: 700;
}

/* */

.token.italic {
  font-style: italic;
}

/* */

.token.entity {
  cursor: help;
}

/* */

.namespace {
  opacity: 0.7;
}

/* Line Numbers */

pre[class*='gatsby-code-'].line-numbers {
  position: relative;
  padding-left: 3.8em;
  counter-reset: linenumber;
}

pre[class*='gatsby-code-'].line-numbers > code {
  position: relative;
  white-space: inherit;
}

.line-numbers .line-numbers-rows {
  position: absolute;
  pointer-events: none;
  top: 24px;
  font-size: 100%;
  /* gatsby-prism-remark is being a proscriptive and providing default styles
     attached to the HTML style object so we have to overwrite with an important
     https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-remark-prismjs/src/add-line-numbers.js#L17 */
  left: 8px !important;
  /* works for line-numbers below 1000 lines */
  width: 3em;
  letter-spacing: -1px;
  border-right: 1px solid #999;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.line-numbers-rows > span {
  pointer-events: none;
  display: block;
  counter-increment: linenumber;
}

.line-numbers-rows > span:before {
  content: counter(linenumber);
  color: #999;
  display: block;
  padding-right: 0.8em;
  text-align: right;
}

/* -----------------------------------------------------------------------------
 * Blog Post General Styles
 * ---------------------------------------------------------------------------*/

.blog-post__title {
  margin: 40px 0 5px 0;
}

.blog-post__content {
  counter-reset: footnotes;
  margin-top: 20px;
}

.blog-post__title,
.blog-post__content {
  grid-column: main-start;
}

/* Links */

.blog-post__content a,
.blog-post__link {
  color: black;
  font-weight: bold;
  background: linear-gradient(
    to top,
    rgba(97, 130, 237, 0.3) 35%,
    transparent 35%
  );
  background: linear-gradient(
    to top,
    rgba(97, 130, 237, 0.7) 18%,
    transparent 8%
  );
  text-decoration: none;
}

.blog-post__content a:hover,
.blog-post__link:hover {
  background: rgba(97, 130, 237, 0.3);
}

/* Anchors

   We are resetting the style of anchor links because they automatically inherit
   from the above styles which we only want applied to inline text links
*/

.blog-post__content .blog-post__anchor {
  background: initial;
}
.blog-post__content .blog-post__anchor:hover {
  background: initial;
}

/* Accessible Footnotes */

a[aria-describedby='footnote-label'] {
  font-weight: normal;
  text-decoration: none;
  color: inherit;
  cursor: default;
  outline: none;
  background: none;
}

a[aria-describedby='footnote-label']::after {
  counter-increment: footnotes;
  content: counter(footnotes);
  vertical-align: super;
  font-size: 0.5em;
  margin-left: 2px;
  /* TODO make me a variable */
  color: dodgerblue;
  text-decoration: underline;
  cursor: pointer;
  font-weight: bold;
}

a[aria-describedby='footnote-label']:hover {
  background: none;
}

ol :target {
  background-color: yellow;
}

[aria-label='Back to content'] {
  font-size: 12px;
}

/* Blog Post Notes - Asides */

.blog-post__content .blog-post__note {
  background-color: var(--color-blockquote);
  border-left-color: var(--color-blockquote-sidebar);
  border-left-width: 9px;
  border-left-style: solid;
  padding: 20px 45px 20px 26px;
  margin: 20px 0 30px -30px;
}

.blog-post__content .blog-post__note p {
  margin-top: 15px;
}

.blog-post__content .blog-post__note p:first-of-type {
  margin-top: 0;
}

.blog-post__content .blog-post__note p:first-of-type:nth-of-type(2) {
  margin-top: 0;
}

/* -----------------------------------------------------------------------------
 * Media Queries
 * ---------------------------------------------------------------------------*/

@media (min-width: 700px) {
  .blog-post__content .blog-post__note {
    margin: 20px -30px 30px -30px;
  }
}
