/* -----------------------------------------------------------------------------
 * Blog Post Syntax Highlight Theme
 *
 * borrowed from reactjs.org.  apply to prismjs.
 * ---------------------------------------------------------------------------*/

.gatsby-highlight {
  background-color: var(--dark-blue);
  color: var(--white);
  border-radius: 10px;
  overflow: auto;
  tab-size: 1.5em;
  margin-bottom: 25px;
}

.gatsby-highlight code[class*='gatsby-code-'],
.gatsby-highlight pre[class*='gatsby-code-'],
.gatsby-highlight pre.prism-code {
  height: auto !important;
  font-size: 13px;
  line-height: 20px;
  white-space: pre-wrap;
  word-break: break-word;
  /* remove all margin to resolve wonky indentation */
  margin-bottom: 0;
}

.article__content .gatsby-highlight {
  grid-column-start: full-start;
  grid-column-end: main-end;
}

.gatsby-highlight + .gatsby-highlight {
  margin-top: 20px;
}

.gatsby-highlight-code-line {
  background-color: var(--lineHighlight);
  display: block;
  margin: -0.125rem calc(-1rem - 15px);
  padding: 0.125rem calc(1rem + 15px);
}

.gatsby-code-text {
  background-color: var(--yellow-code-text);
}

.token.attr-name {
  color: var(--keyword);
}

/* comment highlighting */

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: var(--comment);
}

/* primitive highlighting */

.token.property,
.token.number,
.token.function-name,
.token.constant,
.token.symbol,
.token.deleted {
  color: var(--primitive);
}

/* boolean highlighting */

.token.boolean {
  color: var(--boolean);
}

/* tag highlighting - jsx */

.token.tag {
  color: var(--tag);
}

/* String Highlighting */

.token.string {
  color: var(--string);
}

/* punctuation highlighting */

.token.punctuation {
  color: var(--punctuation);
}

/*  */

.token.selector,
.token.char,
.token.builtin,
.token.inserted {
  color: var(--char);
}

/* function highlighting */

.token.function {
  color: var(--function);
}

/*  */

.token.operator,
.token.entity,
.token.url,
.token.variable {
  color: var(--variable);
}

/* */

.token.attr-value {
  color: var(--string);
}

/* */

.token.keyword {
  color: var(--keyword);
}

/* */

.token.atrule,
.token.class-name {
  color: var(--className);
}

/* */

.token.important {
  font-weight: 400;
}

/* */

.token.bold {
  font-weight: 700;
}

/* */

.token.italic {
  font-style: italic;
}

/* */

.token.entity {
  cursor: help;
}

/* */

.namespace {
  opacity: 0.7;
}

/* -----------------------------------------------------------------------------
 * Blog Post General Styles
 * ---------------------------------------------------------------------------*/

.article__title {
  margin-bottom: 5px;
}

.article__content {
  margin-top: 20px;
}

.article__title,
.article__content {
  grid-column: main-start;
}

.article__content a {
  color: var(--blue);
  color: black;
  font-weight: bold;
  background: linear-gradient(
    to top,
    rgba(97, 130, 237, 0.3) 35%,
    transparent 35%
  );
  background: linear-gradient(
    to top,
    rgba(97, 130, 237, 0.7) 18%,
    transparent 8%
  );
  text-decoration: none;
}

.article__content a:hover {
  background: rgba(97, 130, 237, 0.3);
}

/* Accessible Footnotes */

a[aria-describedby='footnote-label'] {
  counter-increment: footnotes;
  text-decoration: none;
  color: inherit;
  cursor: default;
  outline: none;
}

a[aria-describedby='footnote-label']::after {
  content: counter(footnotes);
  vertical-align: super;
  font-size: 0.5em;
  margin-left: 2px;
  color: dodgerblue;
  text-decoration: underline;
  cursor: pointer;
  font-weight: bold;
}

ol :target {
  background-color: yellow;
}

[aria-label='Back to content'] {
  font-size: 12px;
}

/* Quotes */

.article__content blockquote {
  background-color: var(--color-blockquote);
  border-left-color: var(--color-blockquote-sidebar);
  border-left-width: 9px;
  border-left-style: solid;
  padding: 20px 45px 20px 26px;
  margin-bottom: 30px;
  margin-top: 20px;
  margin-left: -30px;
  margin-right: -30px;
}

.article__content blockquote p {
  margin-top: 15px;
}

.article__content blockquote p:first-of-type {
  margin-top: 0;
}

.article__content blockquote p:first-of-type:nth-of-type(2) {
  margin-top: 0;
}
