/* global styles */

:root {
  /* colors */
  --color-deep-pink: hsl(321, 71%, 20%);
  --color-white: white;
  --color-black: black;

  /* fonts */
  --font-normal: 400;
  --font-bold: 700;
}

.main-content {
  display: grid;
  grid-template-columns:
    [full-start] minmax(1em, 1fr) [main-start] minmax(0, 30em)
    [main-end] minmax(1em, 1fr) [full-end];
  width: 100%;
  max-width: 800px;
  margin: 50px auto;
  align-self: center;
}

.main-content > * {
  grid-column: main;
}

.h__base {
  font-weight: var(--font-normal);
  line-height: 1;
  letter-spacing: normal;
  color: var(--color-black);
}

.h__1 {
  margin: 0;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 20px;
}

.ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
