/* -----------------------------------------------------------------------------
   Custom Properties
   -------------------------------------------------------------------------- */

:root {
  /* colors */
  --color-deep-pink: hsl(321, 71%, 20%);
  --color-white: white;
  --color-black: black;

  /* fonts */
  --font-normal: 400;
  --font-semi-bold: 600;
  --font-bold: 700;

  /* Blog Post Specific Style Variables */

  --char: hsl(219, 28%, 88%); /* light gray */
  --comment: hsl(0, 0%, 60%); /* gray */
  --keyword: hsl(300, 22%, 71%); /* light purple */
  --lineHighlight: hsl(220, 13%, 9%); /* black*/
  --primitive: hsl(207, 55%, 58%); /* light blue*/
  --string: hsl(124, 35%, 67%); /* light green*/
  --variable: hsl(218, 31%, 88%); /* light gray */
  --boolean: hsl(20, 100%, 66%); /* orange */
  --punctuation: hsl(180, 36%, 54%); /* turtle green */
  --tag: hsl(353, 95%, 78%); /* pink */
  --function: hsl(210, 82%, 71%); /* blue */
  --className: hsl(40, 94%, 68%); /* yellow */
  --method: hsl(210, 50%, 60%); /* darker blue */
  --operator: hsl(353, 95%, 78%); /* darker pink */
  --dark-blue: hsl(220, 13%, 18%); /* black */
  --lineHighlight: hsl(220, 13%, 9%); /* deep gray */
  --color-blockquote: hsla(50, 100%, 70%, 0.3); /* Light Canary Yellow */
  --color-blockquote-sidebar: hsl(50, 100%, 70%); /* yellow */
  --blue: hsl(226, 72%, 65%); /* purple blue - site title */
  --yellow-code-text: rgba(255, 229, 100, 0.2);
}

/* -----------------------------------------------------------------------------
   General Layout
   -------------------------------------------------------------------------- */

.main-content {
  display: grid;
  grid-template-columns:
    [full-start] minmax(1em, 1fr) [main-start] minmax(0, 30em)
    [main-end] minmax(1em, 1fr) [full-end];
  width: 100%;
  max-width: 800px;
  margin: 50px auto;
  align-self: center;
}

.main-content > * {
  grid-column: main;
}

/* -----------------------------------------------------------------------------
   General Font Classes
   -------------------------------------------------------------------------- */

.h__base {
  font-weight: var(--font-normal);
  line-height: 1;
  letter-spacing: normal;
  color: var(--color-black);
}

.h__1 {
  margin: 0;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 20px;
}

.site-description {
  color: hsl(0, 0%, 53%);
  font-size: 20px;
  max-width: 310px;
}

.ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.site-title {
  color: var(--blue);
  font-size: 22px;
  margin: 30px 0 30px 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.1;
  text-rendering: optimizeLegibility;
  font-weight: bold;
  text-decoration: none;
}

/* -----------------------------------------------------------------------------
   Utility Classes
   -------------------------------------------------------------------------- */

.link__underline {
  background: linear-gradient(
    to top,
    rgba(97, 130, 237, 0.7) 18%,
    transparent 8%
  );
}
