/* @accessibility  available to screen reader, but not visible to sighted users */
.hide {
  left: -999em;
  position: absolute;
}

.blog-post-item {
  grid-column: main-start;
  margin: 32px 0 38px 0;
}

.blog-post-item:first-of-type {
  margin-top: 42px;
}

.blog-post-item:last-of-type {
  margin-bottom: 88px;
}

.blog-post-item__title {
  font-family: 'Playfair Display', serif;
  font-weight: normal;
  font-size: 36px;
  margin-bottom: 12px;
  color: var(--color-black);
}

.blog-post-item__link {
  color: var(--color-black);
  text-decoration: none;
}

.blog-post-item__meta {
  font-size: 15px;
  margin: 0;
  color: var(--color-black);
}

.blog-post-item__description {
  font-size: 18px;
  margin: 0;
}

.blog-post-item__description-hr {
  display: inline-block;
  border: 2px solid var(--color-purple-60);
  width: 20px;
  margin: 0 0 4px 0;
}

.blog-post-item__date,
.blog-post-item__author {
  font-family: 'Noto Sans', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

@media (min-width: 760px) {
  .blog-post-item {
    grid-column: main-start;
    margin: 32px 0 38px 0;
  }
}
