/* @accessibility  available to screen reader, but not visible to sighted users */
.hide {
  left: -999em;
  position: absolute;
}

.blog-post-item {
  grid-column: main-start;
  margin: 1.75rem 0 1.75rem 0;
}

.blog-post-item__title {
  font-size: 24px;
  margin-bottom: 0.4375rem;
  color: hsl(0, 0%, 0%); /* TODO make me a variable */
}

.blog-post-item__link {
  color: hsl(0, 0%, 0%); /* TODO make me a variable */
  text-decoration: none;
}

.blog-post-item__meta {
  font-size: 15px;
  margin: 0;
  color: hsl(0, 0%, 53%); /* TODO make me a variable */
}

.blog-post-item__date {
  margin-left: 5px;
  border-left: 1px solid gray;
  padding-left: 4px;
}

.blog-post-item__description {
  font-size: 18px;
  margin: 0;
}
