/* @accessibility  available to screen reader, but not visible to sighted users */
.hide {
  left: -999em;
  position: absolute;
}

.blog__title {
  font-family: 'Playfair Display', serif;
  font-weight: normal;
  font-size: 36px;
  margin-bottom: 12px;
  color: var(--color-black);
}

.blog__link {
  color: var(--color-black);
  text-decoration: none;
}

.blog__meta {
  font-size: 15px;
  margin: 0;
  color: var(--color-black);
}

.blog__by {
  font-family: 'Noto Sans', sans-serif;
}

.blog__description {
  font-size: 18px;
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
}

.blog__description-hr {
  display: inline-block;
  border: 2px solid var(--color-purple-60);
  width: 20px;
  margin: 0 0 4px 0;
}

.blog__date,
.blog__author {
  font-family: 'Noto Sans', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}
