.footer {
  grid-column: main-start;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: var(--color-gray);
  border-top: 1px solid var(--color-black);
  margin-top: 10px;
  padding-top: 15px;
}

.footer__link {
  color: var(--color-black);
  font-weight: bold;
  text-decoration: none;
  margin-right: 10px;
}

.footer__link:hover {
  background: var(--color-purple-30);
}

.footer__license .footer__link {
  margin-right: 0px;
}

.footer-license__description {
  font-size: 16px;
  color: var(--color-black);
}

.social-icons__list {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  display: flex;
}

.social-icons__list-item {
  padding: 0px;
  margin: 0px;
}

.social-icons__list-item:not(:last-child)  {
  padding-right: 15px;
}

.social-icons__list-item-link {
  background-color: transparent;
}
