.footer__link {
  color: var(--color-black);
  font-weight: bold;
  text-decoration: none;
}

.footer__link:hover {
  background: var(--color-purple-30);
}

.footer-license__description {
  font-size: 12px;
  color: var(--color-black);
  font-family: 'Noto Sans', sans-serif;
}

.social-icons__list {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  display: flex;
}

.social-icons__list-item {
  padding: 0px;
  margin: 0px;
}

.social-icons__list-item:not(:last-child)  {
  padding-right: 8px;
}

.social-icons__list-item-link {
  background-color: transparent;
}

@media (min-width: 760px) {
  .footer {
    margin: 10px 0 0 0;
  }

  .social-icons__list-item:not(:last-child)  {
    padding-right: 15px;
  }

  .footer-license__description {
    font-size: 16px;
  }
}
