---
layout: html-base
title: subscribe
---

<main class="app-subscribe">
  <div class="subscribe">
    <h1 class="h__base h__1 subscribe__title">Join Us</h1>
    <div class="subscribe__description">
      <img
        class="subscribe__description-avatar"
        src="/images/thomas-cartoon.jpeg"
        alt="Thomas Avatar"
      />
      <p class="subscribe__description-text">
        Join us to get notified when we come out with new content and course
        material
      </p>
    </div>
    <form action="https://betweentwoparens.us19.list-manage.com/subscribe/post"
          method="POST">
      <input
        type="hidden"
        name="u"
        value="d3adf3b6f4d0d994623f9925f"
        class="subscribe__input"
      />
      <input
        type="hidden"
        name="id"
        value="c6998a1564"
        class="subscribe__input"
      />
      <div class="subscribe__text-field">
        <label htmlFor = "MERGE1" class="subscribe__input-label">
          First Name:
        </label>
        <input
          type="text"
          name="MERGE1"
          id="MERGE1"
          size="25"
          autocorrect="off"
        />
      </div>

      <div class="subscribe__text-field">
        <label htmlFor = "MERGE0" class="subscribe__input-label">
          Email:
        </label>
        <input
          type="email"
          name="MERGE0"
          id="MERGE0"
          size="25"
          autocorrect="off"
        />
      </div>
      <button class="btn subscribe__btn">Subscribe</button>
    </form>
    <p class="subscribe__help-text">
      You can unsubscribe at any time
    </p>
  </div>
</main>
